ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(175, 162, 162);
  }
  
  li {
    float: left;
  }
  .litem {
    margin-left: 1000px;
  }
  
  .nav-link {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(153, 147, 147);
  }
  .nav-link:active {
    background-color: rgb(160, 152, 152);
  }
  